# ignore all subdirectories, except specified ones
/*/ 

!/sess_util/
!/analysis/
!/extra/
!/paper_fig_util/
!/plot_fcts/
!/examples/
!/roi_tracking/
!/paper_figures/
!/.binder/

.ipynb_checkpoints

*.pyc
*.ods
*.swp

