# ignore all subdirectories, except analysis, plot_fcts, util and sess_util
/*/ 

!/sess_util/
!/analysis/
!/plot_fcts/
!/paper_fig_util/
!/examples/
!/scripts_under_dev/
!/nway-matching/

/paper_fig_util/intermediate_results
.ipynb_checkpoints

*.pyc
*.ods
*.swp

