# ignore all subdirectories, except analysis, plot_fcts, util and sess_util
/*/ 

!/sess_util/
!/analysis/
!/extra/
!/paper_fig_util/
!/plots_fcts/
!/examples/
!/roi_tracking/

/paper_fig_util/intermediate_results
.ipynb_checkpoints

*.pyc
*.ods
*.swp

